.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    top: -5px;
    left: 0;
    margin: 0;
    padding: 0 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
    border-style: none !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    display: none !important;
    background-image: url('../../../../assets/arrow.png');
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.MuiSelect-iconOpen.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
    display: none !important;
}

.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-13wxpnp-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
    left: calc(100vw - 104px - 241px) !important;
}

.css-uagdp4-MuiButtonBase-root-MuiMenuItem-root {
    padding-left: 24px !important;
}

.css-zcujlk-MuiListSubheader-root {
    padding-left: 24px !important;
}

.css-tt0wl1-MuiListSubheader-root {
    padding-left: 24px !important;
}