@import '../../../assets/styles/variables.scss';

/* LITEFLIX */
.main-title {
    span {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 4px;
        font-weight: 700;
    }
    color: #fff;
}